html {
    box-sizing: border-box;
    font-size: 16px;
}
  
  *, *:before, *:after {
    box-sizing: border-box;
}
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
  
  ol, ul {
    list-style: none;
}
  
  img {
    height: auto;
    max-width: 100%;
}

    body {
      background-image: url("../image/fundoLogin.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size:cover;
      height: 100vh;
      margin: 0px;
      padding: 0;
      width:100vw;
  }
  
  .loginContainerPai {
    height: 100vh;
    width: 100vw;
}

  .loginContainerPai .loginLogoTrivia {
    animation: img 1s 1 linear;
    left:50%;
    position: relative;
    top:38%;
    transform: translate(-50%, -50%);
    width: 1100px;
    z-index: 1;
}

  @keyframes img {
    
    from {
      top: 0%;
  }
    to {
      bottom: 0%;
  }
}

  .loginSection {
    align-items: center;
    background-color: #161217;
    color: whitesmoke;
    display: flex;
    height: 60px;
    width: 100vw;
}

  .loginContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

  .loginText {
    align-items: center;
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

  .loginButtonConfigure{
    background-color:#161217;
    border: none;
    color: whitesmoke;
    height: 50px;
    margin-left: 180px;
    padding-top: 10px;
}

  .loginText h2 {
    box-shadow: -19px 5px 50px -10px rgba(1,170,181,0.4);
    box-shadow: 19px 5px 50px -14px rgba(75,0,130,1);
}

  .loginForm {
    align-items: center;
    display: flex;
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

  .loginLabel {
    align-items: center;
    display: flex;
    font-size: x-large;
    margin: 0 50px;
}

  .loginInput {
    border-radius: 4px;
    border: none;
    height: 18px;
    margin-left: 15px;
    padding-left: 5px;
    width: 170px;
    font-family: 'Play', sans-serif;
}

  .loginButtonPlay {
    background: linear-gradient(to bottom left,#9321a7, #67017a, #9321a7);
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    font-size: larger;
    font-weight: 400;
    height: 25px;
    width: 100px;
}
  .loginButtonPlay:hover {
    cursor: pointer;
    height: 30px;
    transition: 0.2s;
    width: 110px;
}

  .loginButtonPlay:disabled {
    background: linear-gradient(to left,#696969, #a9a9a9, #696969) ;
    color: whitesmoke;
}

 /* ///////////////////////////////////   PAGINA GAME   //////////////////////////////////////////// */

  header {
    align-items: center;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg, rgb(37, 22, 67), rgba(7, 4, 33, 0.0));
    margin: 0;
} 
  header img {
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -150px;
}
 header h2 {
  font-family: 'Montserrat', sans-serif;
   font-size: xx-large;
   font-weight: 600;
   color: whitesmoke;
   align-items: center;
   justify-items: center;
    margin-left: 110px;
  }
  header p {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    margin-right: -110px;
  }


   /* /////////////////////////// Classe definida no component Timer //////////////////////////////////// */
  
   .timerGame {
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 600;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'Play', sans-serif;
  }
  
  .containerGaming {
    display: flex;
    margin: 0 auto;
    min-height: 300px;
    border-radius: 25px;
    padding: 15px;
    width: 1000px;
    background: linear-gradient(rgba(136, 149, 167, 0.6), rgba(180, 188, 199, 0.6), rgba(136, 149, 167, 0.6));
    align-items: center;
    box-shadow: 0px 19px 33px -7px rgba(0,0,0,0.7);
    justify-content: center;
}

 /* //////// preciso descobrir como deixar o ícones branco. ////////////////////// */
.questionNextButton {
   border: none;
   width:  50px;
   height: 50px;
   border: none;
   background-color: transparent;
   position: relative; 
   bottom: -45px;
   justify-items: center;
   align-items: center;
   font-size: xxx-large;
   cursor: pointer;
}

.questionCategory {
  /* margin-top: 60px; */
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: whitesmoke;
}

.questionText {
 font-size: x-large;
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 color: whitesmoke;
 margin-top: 10px;
 margin-bottom: 10px;
}

.questionButton {
  background: linear-gradient(to left,#878787, #d5d5d5, #878787);
  color: #161217;
  height: 40px;
  min-width: 40px;
  position: relative;
  bottom: -30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: large;
  margin-right: 7px;
  border: nome;
  border-radius: 7px;
}

 /* ////////////////////////////    PAGINA FEEDBACK ////////////////////////////////////// */


.feedbackContainer {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  height: 500px;
  width: 500px;
  background-color: rgba(146, 145, 145, 0.5);
  box-shadow: 0px 19px 33px -7px rgba(0,0,0,0.8);
  border-radius: 2rem;
}

.feedbackButton1 {
  background: linear-gradient(to left,#878787, #d5d5d5, #878787);
  color: #171518;
  height: 40px;
  min-width: 40px;
  position: relative;
  bottom: -30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: large;
  align-items: center;
  border: nome;
  border-radius: 7px;
}

.feedbackButton2 {
  background: linear-gradient(to left,#878787, #d5d5d5, #878787);
  color: #171518;
  margin-left: 10px;
  height: 40px;
  min-width: 40px;
  position: relative;
  bottom: -30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: large;
  align-items: center;
  border: nome;
  border-radius: 7px;
}

.feedbackContainer h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: whitesmoke;
}

.feedbackDiv1 {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.feedbackDiv2 {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.feedbackSpan {
  margin-left: 5px;
  margin-right: 5px;
}

/* ////////////////////////////////////// SETUP PAGE /////////////////////////////// */

.setupContain {
  font-family: 'Play', sans-serif;
  color: whitesmoke;
  font-weight: 700;
  font-size: xx-large;
  width: 500px;
  height: 500px;
  background-color: rgba(146, 145, 145, 0.5);
  box-shadow: 0px 19px 33px -7px rgba(0,0,0,0.8);
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  align-items:center;
  display:flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 32%;
}
