html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

    body {
      margin: 0px;
      padding: 0;
      background-image: url("../image/fundoLogin.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center center;
      height: 100vh;
      width:100vw;
  }
  
  .loginContainerPai {
    width: 100vw;
    height: 100vh;
  }

  .loginContainerPai .loginLogoTrivia {
    position: relative;
    width: 1100px;
    z-index: 1;
    top:38%;
    left:50%;
    transform: translate(-50%, -50%); 
    animation: img 1s 1 linear;
  }

  @keyframes img {
    from {
      top: 0%;
    }
    to {
      bottom: 0%;
    }
  }

  .loginSection {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: #161217;
    color: whitesmoke;
    align-items: center;
  }

  .loginContainer {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }

  .loginText {
    font-family: 'Play', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .loginButtonConfigure{
    background-color:#161217;
    color: whitesmoke;
    height: 50px;
    padding-top: 10px;
    border: none;
    margin-left: 180px;
  }

  .loginText h2 {
    box-shadow: 19px 5px 50px -14px rgba(75,0,130,1);
    box-shadow: -19px 5px 50px -10px rgba(1,170,181,0.4);
  }

  .loginForm {
    display: flex;
    align-items: center;
    font-family: 'Play', sans-serif;
  }

  .loginLabel {
    margin: 0 50px;
    font-size: x-large;
    display: flex;
    align-items: center;
  }

  .loginInput {
    margin-left: 15px;
    border-radius: 4px;
    padding-left: 5px;
    border: none;
    width: 170px;
    height: 18px;
  }

  .loginButtonPlay {
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    font-size: larger;
    font-weight: 400;
    background: linear-gradient(to bottom left,#9321a7, #67017a, #9321a7);
    color: whitesmoke;
  }
  .loginButtonPlay:hover {
    width: 110px;
    height: 30px;
    transition: 0.2s;
    cursor: pointer;
  }

  .loginButtonPlay:disabled {
    background: linear-gradient(to left,#696969, #a9a9a9, #696969) ;
    color: whitesmoke;  
  }
  


